//font family
$google_font-inter: 'Inter', sans-serif;
$font_family-base: $google_font-inter;
$font_courier: 'Courier', monospace;

// Font Weight

$font_weight-light: 300;
$font_weight-regular: 400;
$font_weight-medium: 500;
$font_weight-semiBold: 600;
$font_weight-bold: 700;

// Font Size
$font_size-base: 10px;
$font_size-6: 6px;
$font_size-10: 10px;
$font_size-11: 11px;
$font_size-12: 12px;
$font_size-13: 13px;
$font_size-14: 14px;
$font_size-15: 15px;
$font_size-18: 18px;
$font_size-24: 24px;
$font_size-36: 36px;
$font_size-48: 48px;
$font_size-56: 56px;


