@import '../../../styles/config/_base.scss';

.social {
  display: block;
  width: 30px;
  height: 30px;
  color: $color_gray-dark;

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
  }
}